(
    version: 6,
    entries: [
        (
            key: Primary,
            state: (
                // BorderlessFullscreen targeting Monitor 1
                position: MonitorOffset((0, 0)),
                logical_width: ${MONITOR_1_WIDTH},
                logical_height: ${MONITOR_1_HEIGHT},
                target: Classified(${MONITOR_1_DEVICE_KEY}),
                mode: BorderlessFullscreen,
                app_name: "restore_window",
            )
        ),
    ],
)
