(
    version: 6,
    entries: [
        (
            key: Primary,
            state: (
                position: MonitorOffset((0, 0)),
                logical_width: 1200,
                logical_height: 800,
                target: Classified(${MONITOR_1_DEVICE_KEY}),
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
        (
            key: Managed("window-1"),
            state: (
                position: MonitorOffset((200, 200)),
                logical_width: 1200,
                logical_height: 800,
                target: Classified(${MONITOR_0_DEVICE_KEY}),
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
    ],
)
