(
    version: 3,
    entries: [
        (
            key: Primary,
            state: (
                position: MonitorOffset((24, 16)),
                logical_width: 800,
                logical_height: 600,
                monitor_index: 4,
                mode: Windowed,
                app_name: "v3-anonymous",
            ),
        ),
    ],
)
