(
    version: 6,
    entries: [
        (
            key: Primary,
            state: (
                position: MonitorOffset((600, 500)),
                logical_width: 900,
                logical_height: 500,
                target: Classified(${MONITOR_1_DEVICE_KEY}),
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
    ],
)
