(
    version: 6,
    entries: [
        (
            key: Primary,
            state: (
                position: MonitorOffset((0, 0)),
                logical_width: 1728,
                logical_height: 1117,
                target: Classified(${MONITOR_0_DEVICE_KEY}),
                mode: BorderlessFullscreen,
                app_name: "restore_window",
            )
        ),
    ],
)
