(
    version: 6,
    entries: [
        (
            key: Primary,
            state: (
                // Monitor 1 (HDMI)
                position: MonitorOffset((200, 200)),
                logical_width: 800,
                logical_height: 600,
                target: Classified(${MONITOR_1_DEVICE_KEY}),
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
    ],
)
